<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Кухня - Българска кухня</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <header>
            <img src="~/Content/imgs/logo.jpg" alt="logo" id="logo">
            <div class="headings">
                <h1>
                    Кухня - Българска кухня
                </h1>
                <h2>
                    Българска кухня и още неща ;]
                </h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <img src="~/Content/imgs/home.png" alt="home" id="home-icon">
                    </li>
                    <li>
                        Меню
                    </li>
                    <li>
                        Галерия
                    </li>
                    <li>
                        Заявки
                    </li>
                    <li>
                        Резервации
                    </li>
                    <li>
                        Намери ни
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()
        <footer>
            <p class="copy">&copy; @DateTime.Now.Year - Кухня</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
