@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Kitchen.Web.Session;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Кухня - Българска кухня</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/imgs/kuhnya-logo.jpg" alt="Kunhya logo" width="50" height="50" class="logo img-fluid" />
            </a>
            <h1>Ресторант "Кухня"</h1>
            <a title="Харесайте ни във Фейсбук" class="like-us-on-fb" href="https://www.facebook.com/restorantkuhnia">
                <img src="~/imgs/f_logo_RGB-Blue_58.png" width="25" height="25" />
            </a>
            <div class="float-right">
                <a asp-action="index" asp-controller="cart" title="Вашата потребителска кошница">
                    <img src="~/imgs/icon_cart_green.png" width="25" height="25" alt="cart" />
                </a>
                @{
                    // HACK: Get this from CartService
                    var cartItemsCount = HttpContextAccessor.HttpContext.Session.Get<int>("cart-items-count");
                    if (cartItemsCount > 0)
                    {
                        <span class="cart-items">
                            @Html.Raw(cartItemsCount)
                        </span>
                    }
                }
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/admin/orders/index">Администратор</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Кухня - <a asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
            @if (ConfigurationManager.Settings.Develop)
            {
                <em class="float-right">&nbsp;[Develop - True]</em>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
